@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.card {
  max-width: 300px;
  background-color: #8f4fbd;
  border-radius: 10px;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.card__item {
  padding: 10px;
}

.card__plan {
  font-size: 20px;
}

.card__price {
  font-weight: 600;
  font-size: 30px;
}

.card__button {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #8f4fbd;
  cursor: pointer;
}
